.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .register-input {
    height: 40px;
    font-size: 0.8rem;
    border-style: none;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:focus {
      outline: 1px solid #21c0af;
      border: 1px solid rgba(0, 0, 0, 0);
    }
  }

  .signup-button {
    height: 40px;
    font-size: 0.85rem;
  }

  .back-button {
    border: none;
    background-color: white;
    color: #6e54fd;
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 5px;
    text-decoration: none;
  }
}
