.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 0.95rem;

  .choose-type-btn {
    border: none;
    background-color: white;
    color: #6e54fd;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .img-container {
    width: 100%;
    text-align: center;

    &-user {
      width: 100%;
    }

    &-company {
      width: 85%;
    }
  }

  .button-type-container {
    text-align: center;
    padding: 0 35px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  ::placeholder {
    text-align: left;
    text-indent: 5px;
  }
  input {
    width: 150%;
    text-align: center;
    height: 30px;
    margin: 2px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:focus {
      outline: 1.5px solid #21c0af;
      border: 1px solid rgba(0, 0, 0, 0);
    }
  }
  button {
    margin-top: 10px;
    width: 150%;
    background-color: #6e54fd;
    color: white;
    border: none;
    height: 30px;
  }
}

.register-div {
  text-align: center;
  button {
    border: none;
    background-color: white;
    color: #6e54fd;
    font-size: 0.9rem;
    font-weight: 500;
  }
}
