.company-offers-page {
  text-align: center;
  .new {
    margin: 10px 0;
    width: 200px;
    background-color: white;
    color: #6e54fd;
    border: none;
    height: 30px;
    font-size: 20px;
  }
}

.company-offers-list {
  border-top: 2px solid #6e54fd;
  
}
