.detailed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;

  .offer-candidates {
    background-color: #f6f3f3be;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    width: 100%;

    h3 {
      text-align: center;
      font-weight: 600;
      color: #3b3b3b;
      background-color: white;
      padding-bottom: 10px;
    }

    .candidates-ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin: 0;
    }
  }

  .empty-candidates {
    text-align: center;
  }

  .offer-header {
    display: flex;
    flex-direction: row;
    width: 90%;

    .img-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;

      img {
        width: 100%;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;

      h3 {
        color: #6e54fd;
        font-size: 1.1rem;
      }

      .created-timestamp {
        font-size: 0.9rem;
        margin-top: 5px;
      }
    }
  }

  .offer-description {
    margin: 20px 0;
    padding: 0 20px;
    max-height: 460px;
    width: 90%;
    text-align: center;
  }
}
