@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./base/_mixins.scss";
@import "./base/_variables.scss";
@import "../pages/Login/_loginPage.scss";
@import "../components/RegisterUserForm/_registerUserForm.scss";
@import "../components/RegisterCompanyForm/_registerCompanyForm.scss";
@import "../pages/UserProfile/_userProfilePage.scss";
@import "../pages/UserApplicationSent/userApplicationSent";
@import "../pages/CreateOffer/_createOffer.scss";
@import "../pages/RegisterCompany/_registerCompany.scss";
@import "../pages/RegisterUser/_registerUser.scss";
@import "../shared/components/UserNavbar/_userNavbar.scss";
@import "../components/Offer/_offer.scss";
@import "../shared/components/CompanyNavbar/_companyNavbar.scss";
@import "../pages/CompanyProfile/_companyProfile.scss";
@import "../pages/CompanyOffers/_companyOffers.scss";
@import "../pages/HomePage/_homePage.scss";
@import "../components/UserGuide/_userGuide.scss";
@import "../pages/DetailedOfferPage/_detailedOfferPage.scss";
@import "../pages/OffersPage/_offersPage.scss";
@import "../components/ButtonLogout/_buttonLogout.scss";
@import "../components/DetailedOffer/_detailedOffer.scss";
@import "../components/DetailedCompanyOffer/_detailedCompanyOffer.scss";
@import "../components/Candidate/candidate";
* {
  font-family: "Poppins", "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
