.profile-img-container {
  margin-top: 20px;
  text-align: center;
  width: 100%;

  img {
    max-width: 200px;
    border-radius: 50%;
  }
}

.profile-form-container {
  display: flex;
  justify-content: center;
  height: 100vh;

  label {
    width: 100%;
    margin: 3px;
  }
  input {
    width: 100%;
    margin: 3px;
  }
  button {
    width: 100%;
  }
  ::-webkit-file-upload-button {
    background-color: #6e54fd;
    color: white;
    border: none;
    height: 30px;
  }
  .change-image {
    border: none;
    background-color: white;
    color: #6e54fd;
    font-size: 0.9rem;
    font-weight: 500;
  }
}
